.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section--without-padding-bottom {
    padding-bottom: 0;
}

.section--background-grey {
    background-color: $button-background-color;
}